
header {
    display: flex; 
    margin: 20px; 
    height: 100px; 
    align-items: center;
    
}

header h4{
    display: flex; 
    margin-left: 20px; 
    align-self: center;
    color: #cbaf87;
    font-family: 'Playfair Display';
    font-size: 28px; 
}

.logo-box, .cart{

    display: flex;

}
.logo-box {
     flex:1;
    }

.cart {
    
    flex: 1; 
    justify-content: flex-end;
}

.logo-box img {
    width: 70px;
    height: auto; 
       
}


.cart img {
    width: 70px;
    height: auto; 
    
}


nav{
    display: flex;     
    align-items: center;
    background-color: #cbaf87;
    justify-content: center;
    margin-bottom: 20px; 
}

.navbar{
    justify-content: center;
    list-style: none;
    display: flex; 
    margin: 20px; 
   
}

.navbar a{
    padding: 0px 80px 0px 80px; 
}

.navbar a:hover{
    color: rgba(255, 255, 255, 0.877);
}

.nav-link{
    display: flex; 
	color: rgba(70, 66, 66, 0.897);
	font-size: 20px; 
	text-decoration: none; 
}


body
{
background-size: 90%;
background-color: whitesmoke;
padding: 30px;
}

@font-face
{
    font-family: 'Raleway', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap);
    font-family: 'Great Vibes';
    src: url(https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap);
}

p
{
    font-family: raleway;
    font-size: 17px;
}

h3
{
    font-family: 'Great Vibes', cursive;
    font-size: 150%;

}

/*-BIGGER SCREENS-*/
#container
{
    width: 90%;
    height: 100vh; 
    margin: 0 auto;
    display: grid;
    gap: 2%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "story story story storypicture storypicture storypicture"
    "story1 story1 story2 story2 story3 story3";

}



.story
{
    grid-area: story;
    padding: 20px;
    align-self: center;
    justify-self: center;
}

.storypicture
{
    grid-area: storypicture;
    /*justify-self: center;
    align-self: center;
    margin: 30px;*/
    
}

.img
{
    background-size: cover;
    object-fit: cover;
    
}

.story1
{
grid-area: story1;
align-self: start;
justify-self: center;
}

.story2
{
    grid-area: story2;
    align-self: start;
    justify-self: center;
}

.story3
{
    grid-area: story3;
    align-self: start;
    justify-self: center;
}



/*-SMALLER COMPUTER SCREENS-*/
@media screen and (min-width: 960px) and (max-width: 1200px)
{
    #container
    {
    width: 90%;
    height: 100vh; 
    margin: 0 auto;
    display: grid;
    gap: 2%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "story story story storypicture storypicture storypicture"
    "story1 story1 story2 story2 story3 story3";
    }

}


/*-TABLETS-*/
@media screen and (min-width: 768px) and (max-width: 960px)
{
    #container 
    {
        width: 90%;
        height: 100vh; 
        margin: 0 auto;
        display: grid;
        gap: 2%;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "storypicture storypicture storypicture storypicture storypicture storypicture"
        "story story story story story story" 
        "story1 story1 story2 story2 story3 story3";
    }
}



/*-PHONES-*/
@media screen and (max-width: 768px)
{

  #container 
  {
    width: 90%;
    height: 100vh; 
    margin: 0 auto;
    display: grid;
    gap: 2%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "storypicture storypicture"
    "story story" 
    "story1 story1" 
    "story2 story2"
    "story3 story3";
  }
}


footer{
    width: 100%;
    background-color: #d3c09a;
    height: 40vh;
}

.footer-container{
    display: flex; 
}

.footer-box1, .footer-box2, .footer-box3{
   
    margin: 40px auto;
    width: 28%; 
    height: 30vh;
}

.footer-box1{
    background-color: #d3c09a;
}

.footer-box2{
    background-color: #d3c09a;
}

.footer-box3{
    background-color: #d3c09a;
}

.footer-box2 .footer-links{
    font-size: 54px; 
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

.footer-box2 ul li a{
    text-decoration: none;
    color: black;
}

.footer-box2 ul li a:hover{
    text-decoration: none;
    color: white;
}


.footer-box3 form{
    width: 100%;
margin: 180px 100px; 
}

.footer-box3{
    margin-top: 40px;
    flex: 1;
    justify-content: center;
   

}

.footer-box3 h1{
    Font-size: 32px; 
    font-family: 'Raleway';
    color: black; 
}

input{
    width: 70%;
    height: 60px; 
    border: 1px solid black; 
    background: white;
    color: black; 
    font-size: 24px; 

}

.footer-box3 button{
    border: 2px solid black; 
	background: white;
	color: black; 
	width: 150px; 
	height: 50px; 
	cursor: pointer;
    font-size: 24px; 
    border-radius: 4%;
}

.footer-box1 h1{

    margin: 80px 60px; 
    font-family: 'Raleway';
    font-size: 72px; 
}

.footer-box1 ul{
    margin: 20px 20px; 
    display: flex; 
    list-style: none; 
    justify-content: space-around;
}

.footer-box1 ul li{
    text-decoration: none;
}





.footer-box1 .fa {
    padding: 30px;
    font-size: 44px;
    margin-right: 10px; 
    width: 80px;
    height: auto;
    text-align: center;
    text-decoration: none;
    display: flex; 
    
    
  }

.fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-facebook:hover {
    background: white;
    color: #3B5998;
  }

  .fa-twitter:hover {
    background: white;
    color: #55ACEE;
  }

  .fa-linkedin:hover {
    background: white;
    color: #007bb5;
  }

  .fa-instagram:hover {
    background: white;
    color: #125688;
  }
