

main{
    display: flex; 

  
}


.wrapper{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
 
}




.card {
    width: 130px;
    height: 195px;
    margin: 155px auto;
    position: relative;
    display: inline-block;
    padding: bottom 50px;
}

.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    
}
.card:hover .img-top {
    display: inline;
}

.card img{
    width: 200px;
    height: auto;
  
}


.card1 {

    width: 130px;
    height: 195x;
    margin: 155px auto 0;
    position: relative;
    display: inline-block;  

}

.card1 .img-top1 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card1:hover .img-top1 {
    display: inline;
}

.card1 img{
    width: 200px;
    height: auto;  
}
    


.card2 {

    width: 130px;
    height: 195x;
    margin: 155px auto 0;
    position: relative;
    display: inline-block;  

}

.card2 .img-top2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.card2:hover .img-top2 {
    display: inline;
}


.card2 img{
    width: 200px;
    height: auto;  
}
    


.card3 {

    width: 130px;
    height: 195x;
    margin: 155px auto 0;
    position: relative;
    display: inline-block;  

}

.card3 .img-top3 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.card3:hover .img-top3 {
    display: inline;
}

.card3 img{
    width: 200px;
    height: auto;  
}
    


.card4{

    width: 130px;
    height: 195x;
    margin: 155px auto 0;
    position: relative;
    display: inline-block; 
    padding-right: 20px;
   


}

.card4 .img-top4 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.card4:hover .img-top4 {
    display: inline;
}

.card4 img{
    width: 200px;
    height: auto;
  
}

.cta-select{
	border: none; 
	background: transparent;
	color: rgba(37, 37, 37, 0.973); 
	width: 150px; 
	height: 50px; 
	cursor: pointer;
    font-size: 17px; 
    color:#CBAF87;
   
}



p{
    text-align: center;
    font-size: 17px;
  
}

.collection{
display: flex;
position: relative;
top:100px;
padding: 10px;
margin: 10px auto;
color: #CBAF87;
}

.logo{
    height: 150px;
    position: relative;
    top: 80px;
}

.btn{
    background:linear-gradient(to bottom, #CBAF87 5%, #CBAF87 100%);
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #CBAF87;
}

a:hover{
    color:black;
}