
header {
    display: flex; 
    margin: 20px; 
    height: 100px; 
    align-items: center;
    
}

header h4{
    display: flex; 
    margin-left: 20px; 
    align-self: center;
    color: #cbaf87;
    font-family: 'Playfair Display';
    font-size: 28px; 
}

.logo-box, .cart{

    display: flex;

}
.logo-box {
     flex:1;
    }

.cart {
    
    flex: 1; 
    justify-content: flex-end;
}

.logo-box img {
    width: 70px;
    height: auto; 
       
}


.cart img {
    width: 70px;
    height: auto; 
    
}


nav{
    display: flex;     
    align-items: center;
    background-color: #cbaf87;
    justify-content: center;
}

.navbar{
    justify-content: center;
    list-style: none;
    display: flex; 
    margin: 20px; 
   
}

.navbar a{
    padding: 0px 80px 0px 80px; 
}

.navbar a:hover{
    color: rgba(255, 255, 255, 0.877);
}

.nav-link{
    display: flex; 
	color: rgba(70, 66, 66, 0.897);
	font-size: 20px; 
	text-decoration: none; 
}



main{
    display: flex; 

  
}


.wrapper{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
 
}




.card {
    width: 130px;
    height: 195px;
    margin: 155px auto;
    position: relative;
    display: inline-block;
    padding: bottom 50px;
}

.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    
}
.card:hover .img-top {
    display: inline;
}

.card img{
    width: 200px;
    height: auto;
  
}


.card1 {

    width: 130px;
    height: 195x;
    margin: 155px auto 0;
    position: relative;
    display: inline-block;  

}

.card1 .img-top1 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card1:hover .img-top1 {
    display: inline;
}

.card1 img{
    width: 200px;
    height: auto;  
}
    


.card2 {

    width: 130px;
    height: 195x;
    margin: 155px auto 0;
    position: relative;
    display: inline-block;  

}

.card2 .img-top2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.card2:hover .img-top2 {
    display: inline;
}


.card2 img{
    width: 200px;
    height: auto;  
}
    


.card3 {

    width: 130px;
    height: 195x;
    margin: 155px auto 0;
    position: relative;
    display: inline-block;  

}

.card3 .img-top3 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.card3:hover .img-top3 {
    display: inline;
}

.card3 img{
    width: 200px;
    height: auto;  
}
    


.card4{

    width: 130px;
    height: 195x;
    margin: 155px auto 0;
    position: relative;
    display: inline-block; 
    padding-right: 20px;
   


}

.card4 .img-top4 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.card4:hover .img-top4 {
    display: inline;
}

.card4 img{
    width: 200px;
    height: auto;
  
}

.cta-select{
	border: none; 
	background: transparent;
	color: rgba(37, 37, 37, 0.973); 
	width: 150px; 
	height: 50px; 
	cursor: pointer;
    font-size: 17px; 
    color:#CBAF87;
   
}



p{
    text-align: center;
    font-size: 17px;
  
}

.collection{
display: flex;
position: relative;
top:100px;
padding: 10px;
margin: 10px auto;
color: #CBAF87;
}

.logo{
    height: 150px;
    position: relative;
    top: 80px;
}

.btn{
    background:linear-gradient(to bottom, #CBAF87 5%, #CBAF87 100%);
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #CBAF87;
}

a:hover{
    color:black;
}

footer{
    width: 100%;
    background-color: #d3c09a;
    height: 40vh;
}

.footer-container{
    display: flex; 
}

.footer-box1, .footer-box2, .footer-box3{
   
    margin: 40px auto;
    width: 28%; 
    height: 30vh;
}

.footer-box1{
    background-color: #d3c09a;
}

.footer-box2{
    background-color: #d3c09a;
}

.footer-box3{
    background-color: #d3c09a;
}

.footer-box2 .footer-links{
    font-size: 54px; 
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

.footer-box2 ul li a{
    text-decoration: none;
    color: black;
}

.footer-box2 ul li a:hover{
    text-decoration: none;
    color: white;
}


.footer-box3 form{
    width: 100%;
margin: 180px 100px; 
}

.footer-box3{
    margin-top: 40px;
    flex: 1;
    justify-content: center;
   

}

.footer-box3 h1{
    Font-size: 32px; 
    font-family: 'Raleway';
    color: black; 
}

input{
    width: 60%;
    height: 50px; 
    border: 1px solid black; 
    background: white;
    color: black; 
    font-size: 24px; 

}

.footer-box3 button{
    border: 2px solid black; 
	background: white;
	color: black; 
	width: 150px; 
	height: 50px; 
	cursor: pointer;
    font-size: 24px; 
    border-radius: 4%;
}

.footer-box1 h1{

    margin: 80px 60px; 
    font-family: 'Raleway';
    font-size: 72px; 
}

.footer-box1 ul{
    margin: 20px 20px; 
    display: flex; 
    list-style: none; 
    justify-content: space-around;
}

.footer-box1 ul li{
    text-decoration: none;
}





.footer-box1 .fa {
    padding: 30px;
    font-size: 44px;
    margin-right: 20px; 
    width: 40px;
    height: auto;
    text-align: center;
    text-decoration: none;
    display: flex; 
    
    
  }

.fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-facebook:hover {
    background: white;
    color: #3B5998;
  }

  .fa-twitter:hover {
    background: white;
    color: #55ACEE;
  }

  .fa-linkedin:hover {
    background: white;
    color: #007bb5;
  }

  .fa-instagram:hover {
    background: white;
    color: #125688;
  }
