*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}


header {
    display: flex; 
    margin: 20px; 
    height: 100px; 
    align-items: center;
    
}

header h4{
    display: flex; 
    margin-left: 20px; 
    align-self: center;
    color: #cbaf87;
    font-family: 'Playfair Display';
    font-size: 28px; 
}

.logo-box, .cart{

    display: flex;

}
.logo-box {
     flex:1;
    }

.cart {
    
    flex: 1; 
    justify-content: flex-end;
}

.logo-box img {
    width: 70px;
    height: auto; 
       
}


.cart img {
    width: 70px;
    height: auto; 
    
}


nav{
    display: flex;     
    align-items: center;
    background-color: #cbaf87;
    justify-content: center;
    margin-bottom: 40px;
}

.navbar{
    justify-content: center;
    list-style: none;
    display: flex; 
    margin: 20px; 
    
   
}

.navbar a{
    font-family: 'Raleway';
    font-size: 44px; 
    padding: 0px 80px 0px 80px; 
}

.navbar a:hover{
    color: rgba(255, 255, 255, 0.877);
}

.nav-link{
    display: flex; 
	color: rgba(70, 66, 66, 0.897);
	font-size: 20px; 
	text-decoration: none; 
}



section{
    display: flex; 
}

.box1, .box2, .box3, .box4{
    padding: 50px 50px;  
}

.box1{
    max-width: 100%;
    height: 60vh; 
    background-image: url(../Mixed\ pics/_69A8362.jpg);
    background-attachment: fixed; 
    background-size: cover;
    display: flex; 
    
}

.box1 span{
    color: #d3c09a;
    font-size: 64px;
    font-family: 'Raleway';
    text-shadow: 0px 40px 0px 0px; 
    text-decoration: black;
    
}

.box2{
    display: flex;
    height: 30vh; 
    width:60%; 
    background: white;
    text-align: center;
    opacity: 75%;
    
    
}

.box3{
    max-width: 100%;
    height: 60vh; 
    background-image: url(../Mixed\ pics/_69A9032.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
}

.box2 span{
    margin: 20px 20px; 
    font-size: 72px; 
    font-family: 'Raleway';
    flex-direction: column;
    display: flex; 
}

.text{
    margin: 20px 20px; 
    font-size: 32px;
    font-family: 'Raleway';
    flex-direction: column;
}


.box5{
    max-width: 100%;
    height: 60vh; 
    background-image: url(../Mixed\ pics/_69A8739.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.box6 {
    width: 100%; 
    height: 20vh;  
    text-align: center;
    background: white;
    justify-content: center;
    margin-top: 120px; 
    
}

.info-text3{
    width: 50%;
}

.box6 span{
    margin: 20px 20px; 
    font-size: 48px; 
    font-family: 'Raleway';
    flex-direction: column;
    display: flex; 
}

.text3 {
    font-size: 30px; 
    font-family: 'Raleway';
}


.sign-up{
    margin-top: 40px; ; 
    flex: 1;
    justify-content: center;
   

}

input{
    width: 60%;
    height: 50px; 
    border: 1px solid black; 
    background: #d3c09a;
    color: black; 
    font-size: 24px; 

}

.sign-up button{
    border: 2px solid black; 
	background: #d3c09a;
	color: black; 
	width: 150px; 
	height: 50px; 
	cursor: pointer;
    font-size: 24px; 
    border-radius: 4%;
}

.box7{
    width: 100%;
    
}

.container{
    background: #d3c09a;    
    width: 100%; 
    justify-content: center;
    text-align: center;
      
}

.logo_img img{
    
    width: 200px; 
    height: 200px;

}
.container h1{
    
    color: #1f1d18d0; 
    font-size: 72px;
    font-family: 'Raleway', bold;
    margin-top: 40px; 
    margin-bottom: 150px; 
    text-align: center; 
}

.team span, .team-member h3{
    color: #3a352bd7; 
    font-size: 48px; 
    font-family: 'Raleway' bold;
    margin-top: 50px; 
    margin-bottom: 20px;

     
}
.team p.role{
    color: rgba(26, 26, 26, 0.925);
    font-size:38px; 
    font-family: 'Raleway';
    text-transform: uppercase;
    margin: 12px 0px; 
    
}

.team p{
    color: rgb(27, 27, 27);
    font-size:28px; 
    font-family: 'Raleway';
}

.team{
    width: auto;
    display: flex; 
    text-align: center; 
    justify-content: center;
    font-family: 'Raleway';
    flex-wrap: wrap;
}

.team .team-member{
    background: rgba(255, 255, 255, 0.664);
    margin: 10px; 
    margin-bottom: 50px;
    width: 30%; 
    padding: 40px; 
    line-height: 50px; 
    position: relative;    
}

.team .team-member .team_img{
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -100px; 
    left: 50%;
    transform: translateX(-50%); 
}

.team .team-member .team_img img{
    width: 200px; 
    height: 200px;
    
}

.presentation{
	display: flex;
	width: 90%;
	margin: auto; 
	min-height: 55vh; 
    align-items: center; 
    font-family: 'Raleway';
    

}

.introduktion{
	 
	flex: 1; 
}

.intro-text span{
	font-size: 72px; 
    font-family: 'Raleway';
    margin-bottom: 20px;
}

.intro-text p{
    margin-top: 20px;
    margin-right: 50px;
    font-size: 32px; 
    font-family: 'Raleway';
    
}


.cover{
	flex: 1; 
}
.cover img{
	height: 50vh; 

}

footer{
    width: 100%;
    background-color: #d3c09a;
    height: 40vh;
}

.footer-container{
    display: flex; 
}

.footer-box1, .footer-box2, .footer-box3{
   
    margin: 40px auto;
    width: 28%; 
    height: 30vh;
}

.footer-box1{
    background-color: #d3c09a;
}

.footer-box2{
    background-color: #d3c09a;
}

.footer-box3{
    background-color: #d3c09a;
}

.footer-box2 .footer-links{
    font-size: 54px; 
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

.footer-box2 ul li a{
    text-decoration: none;
    color: black;
}

.footer-box2 ul li a:hover{
    text-decoration: none;
    color: white;
}


.footer-box3 form{
    width: 100%;
margin: 180px 100px; 
}

.footer-box3{
    margin-top: 40px;
    flex: 1;
    justify-content: center;
   

}

.footer-box3 h1{
    Font-size: 32px; 
    font-family: 'Raleway';
    color: black; 
}

input{
    width: 60%;
    height: 50px; 
    border: 1px solid black; 
    background: white;
    color: black; 
    font-size: 24px; 

}

.footer-box3 button{
    border: 2px solid black; 
	background: white;
	color: black; 
	width: 150px; 
	height: 50px; 
	cursor: pointer;
    font-size: 24px; 
    border-radius: 4%;
}

.footer-box1 h1{

    margin: 80px 60px; 
    font-family: 'Raleway';
    font-size: 72px; 
}

.footer-box1 ul{
    margin: 20px 20px; 
    display: flex; 
    list-style: none; 
    justify-content: space-around;
}

.footer-box1 ul li{
    text-decoration: none;
}





.footer-box1 .fa {
    padding: 30px;
    font-size: 44px;
    margin-right: 20px; 
    width: 40px;
    height: auto;
    text-align: center;
    text-decoration: none;
    display: flex; 
    
    
  }

.fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-facebook:hover {
    background: white;
    color: #3B5998;
  }

  .fa-twitter:hover {
    background: white;
    color: #55ACEE;
  }

  .fa-linkedin:hover {
    background: white;
    color: #007bb5;
  }

  .fa-instagram:hover {
    background: white;
    color: #125688;
  }

